html, body {
    height: 100%;
}

body {
    background-color: white;
    background-image: url("./postit.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-center{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.jumbotron{
    background-color: #ffff4d;
}