html, body {
    height: 100%;
}

body {
    background-color: #ffff4d;
}

select {
    cursor: pointer;
    width: 400px;
    height: 30px;;
    font-weight: bold;
    color: white;
    background-color: #15ad1c;
    border-radius: 20px;
    border: 5px solid #15ad1c;    
}